<a href="https://colab.research.google.com/github/PhelaPoscam/Polar_H10_ECG/blob/main/Polar_H10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from keras.utils.np_utils import to_categorical
from sklearn.utils import class_weight
import warnings
warnings.filterwarnings('ignore')

In [4]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [17]:
data=pd.read_csv('/content/Cardia_Log_2023-01-10_10-30.csv', sep=";")
#test_df=pd.read_csv('',header=None)

In [18]:
data.head()

,Timestamp,Heart beat,Heart rate,Min heart rate,Max heart rate,Unnamed: 5
0,10/01/2023 10:40:30,1,82,82,82,NaN
1,10/01/2023 10:40:31,2,82,82,82,NaN
2,10/01/2023 10:40:32,3,84,82,84,NaN
3,10/01/2023 10:40:33,4,86,82,86,NaN
4,10/01/2023 10:40:34,5,88,82,88,NaN